<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to your farm!</title>
</head>
<body>
    <p></p>
    <form th:action="@{/chickens}" method="POST">
        <button>Buy a chicken!</button>
    </form>

    <form th:action="@{/eggs}" method="POST">
        <button>Buy an egg!</button>
    </form>

    <form th:action="@{/chickens}" method="DELETE">
        <button>Sell a chicken!</button>
    </form>

    <form th:action="@{/eggs}" method="DELETE">
        <button>Sell an egg!</button>
    </form>

    <form th:action="@{/days}" method="PUT">
        <button>Advance one day!</button>
    </form>

    <form th:action="@{/statusReport}" method="GET">
        <button>Check the status report of your farm!</button>
    </form>
</body>
</html>